.graph-block{
    
    @extend %main-style;
    
    &.info-block{
        padding-top: 0px;
    }
    
    h2{
        margin: 0;
    }
    
    
    
    .graph-outer{
        
        @extend %container-inner-padding;
        
        overflow: hidden;
        
        @include media('<hd-screen') {
            /*padding: 0% 5% 0 5%;*/

        }
        
        @include media('<desktop') {
             padding: 2% 5% 0 5%;
        }
    }
        
    .graph-img{
        width: 390px;
        
        display: block;
        position: absolute;
        
        &.graph_1{
/*            left: 0;
            top: 0;
            top: 100%;
            opacity: 0;*/
            
            left: 0;
            top: 0;
        }
        
        &.graph_2{
/*            right: 0;
            top: 100%;
            opacity: 0;*/
            
            right: 0;
            top: 0;
            
            @include media('<desktop') {
                right: 0;
                top: auto;
                /*bottom: -100%;*/
                bottom: 0%;

            }
        }
        
        
        @include media('<hd-screen') {
            width: 345px;

        }
        
        @include media('<widescreen') {
                    
            width: 260px;
        }
        
        @include media('<desktop') {
            width: 250px;
           
        }
        
        @include media('<tablet') {
            width: 150px;
           
        }
    }
    
    $transition : visibility 0s linear 800ms, opacity 800ms;
    $transition_hover : visibility 0s linear 0s, opacity 800ms ;

    $transition_half : all ease-out 200ms;
    $transition_half_hover : transform ease-out 200ms ;

    $tr_delay : 300ms;
    $tr_half_delay : 200ms;



    .circle {
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-duration: 200ms;
        transition-duration: 200ms;
        -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
        transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    }

    .circle{
        opacity: 0.92;
        z-index: 1;
        -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -webkit-transition-duration: 400ms;
        transition-duration: 400ms;
        -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
        transform: scale(1.1, 1.1) translate3d(0, 0, 0);
        cursor: pointer;
    }

    .circle {
        background: #ff4081;
        border-radius: 100%;
        width: 390px;
        height: 390px;
        /*margin-left: -40px;*/
        position: absolute;

        color: white;
        text-align: center;
        line-height: 80px;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);

        -webkit-transition: -webkit-transform ease-out 400ms, background ease-out 1000ms;
        transition: transform ease-out 400ms, background ease-out 1000ms;


        @include media('<hd-screen') {
            width: 345px;
            height: 345px;
        }

        @include media('<widescreen') {

            width: 260px;
            height: 260px;
        }

        @include media('<desktop') {
            width: 250px;
            height: 250px;

        }

        @include media('<tablet') {
            width: 150px;
            height: 150px;

        }
        
        
    }


    .circle-hover{
       -webkit-transform: scale(1.05, 1.05) translate3d(0, 0, 0);
        transform: scale(1.05, 1.05) translate3d(0, 0, 0);
        z-index: 2;
        opacity: 1;
        box-shadow: 14px 7px 23px rgba(0, 0, 0, .6);
        border-radius: 50%;
        
        @include media('<phone') {
           box-shadow: 1px 16px 19px rgba(0,0,0,0.6);
        }
        


        &.circle::before{
            animation: none;
            display:none;
        } 

        &.circle-1{
            /*background: linear-gradient(#5187c4, #1c2f45);*/
    /*        background-image: linear-gradient(to right, #054f7d, #aaccd4, #00a7cf, #0c91b1, #054f7d);
            background-size: 600%;
            background-position: 0 0;
            animation-duration: 20s;
            animation-iteration-count: infinite;
            animation-name: gradients;*/
        }

        &.circle-2{
            /*background: linear-gradient(#d2bfc5, #885364)*/
        }


    }

    .circle::before {
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: black;
        opacity: 0;
        content: '';
        animation: pulse 2s infinite;
    }


    .circle-1{
        background: #002050;
        left: 0;
        top: 0;
        
        @include media('<desktop') {
            left: 0;
            top: 0;
        }

        &.circle::before{
            background: #002050;
        }
    }

    .circle-2{
        background: #d1bfc5;
        right: 0;
        top: 0;
        
        @include media('<desktop') {
            right: 0;
            top: 0;
            
        }

        &.circle::before{
            background: #d1bfc5;
            
            
        }
        
       
    }

    .circle-text-outer{
        position: absolute;
        left: 98px;
        top: 133px;
        
        @include media('<hd-screen') {
            width: 43%;
            left: 97px;
            top: 125px;
        }
        
        @include media('<widescreen') {
            width: 41%;
            left: 79px;
            top: 100px;
        }
        
        @include media('<tablet') {
            left: 48px;
            top: 55px;
        }
       
    }


    .half-circle{
        display: block;
        right: 0;
        top: 68px;
        width: 332px;
        height: 322px;
        position: absolute;

        background: url("images/help_img/4-parts-min.png");
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 2;

        transition: $transition_half;
        -ms-transition: $transition_half;
        -moz-transition: $transition_half;
        -webkit-transition: $transition_half;

/*        transition-delay: $tr_delay;
        -ms-transition-delay: $tr_delay;
        -moz-transition-delay: $tr_delay;
        -webkit-transition-delay: $tr_delay;*/

        @include media('<hd-screen') {
            top: 59px;
            width: 295px;
            height: 287px;
        }

        @include media('<widescreen') {
            top: 43px;
            width: 223px;
            height: 227px;
        }

        @include media('<desktop') {
            top: 43px;
            width: 214px;
            height: 207px;
        }

        @include media('<tablet') {
            top: 29px;
            width: 125px;
            height: 123px;

        }
        
        
        

        &::before{

            display: none;
            opacity: 0;
            content: '';

        }


        &.half-moved{

            right: -35px;
            top: 100px;
            
            opacity: 1;

            transition: $transition_half;
            -ms-transition: $transition_half;
            -moz-transition: $transition_half;
            -webkit-transition: $transition_half;

            transition-delay: $tr_half_delay;
            -ms-transition-delay: $tr_half_delay;
            -moz-transition-delay: $tr_half_delay;
            -webkit-transition-delay: $tr_half_delay;
            
            @include media('<widescreen') {
                    right: -30px;
                    top: 74px;

            }
            
            @include media('<desktop') {
                right: -17px;
                top: 62px;
            }
            
            @include media('<tablet') {
                right: -17px;
                top: 48px;
            }
            
            @include media('<phone') {
                top: 29px;
                right: 0px;
            }
            
            
            
            
           
            &::before{
                display: block;
                opacity: 0.7;
                position: absolute;
                right: -7%;
                bottom: 35px;
                z-index: -1;
                width: 58%;
                height: 63%;
                content: '';
                background: none;
                transform: rotate(161deg);
               
                border-top-left-radius: 185%;
                border-bottom-left-radius: 0%;
                border-top-right-radius: 0%;
                border-bottom-right-radius: 0%;
                box-shadow: -14px -10px 12px -10px rgba(0,0,0,0.6);
                
                @include media('<hd-screen') {
                    right: -5%;
                    width: 46%;
                    height: 59%;
                    bottom: 47px;
                    transform: rotate(163deg);
                }
                
                @include media('<desktop') {
                    width: 65%;
                    height: 59%;
                    bottom: 15px;
                }
                
                @include media('<tablet') {
                    width: 59%;
                    height: 59%;
                    bottom: 15px;
                }
                
                @include media('<phone') {
                   display: none;
                }
             
            }
                     
        }
        
        
        
        
    }



    .graph-item-text-outer{
        visibility: hidden;
        opacity: 0;

        transition: $transition;
        -ms-transition: $transition;
        -moz-transition: $transition;
        -webkit-transition: $transition;

        transition-delay: $tr_delay;
        -ms-transition: $tr_delay;
        -moz-transition: $tr_delay;
        -webkit-transition: $tr_delay;
    }

    .graph-item-text-outer.visible{
        visibility: visible;
        opacity: 1;

        transition: $transition_hover ;
         -ms-transition: $transition_hover;
        -moz-transition: $transition_hover;
        -webkit-transition: $transition_hover;

        transition-delay: $tr_delay;
        -ms-transition: $tr_delay;
        -moz-transition: $tr_delay;
        -webkit-transition: $tr_delay;
    }






    @keyframes pulse {
      from {
        transform: scale(1);
        opacity: .5;
      }
      to {
        transform: scale(1.1);
        opacity: 0;
      }
    }


    @keyframes gradients {
        0%   {background-position: 0 0;}
        25% {background-position: 50% 0;}
        50% {background-position: 90% 0;}
        60% {background-position: 60%;}
        75% {background-position: 40%;}
        100%  {background-position: 0 0;}
    }
    
    .graph-part-img{
        display: block;
        
        right: 0;
        top: 63px;
        
        width: 280px;
        position: absolute;

        @include media('<hd-screen') {
            width: 247px;
            top: 55px;

        }
        
        @include media('<widescreen') {
            top: 43px;        
            width: 185px;
        }
        
        @include media('<desktop') {
            width: 180px;
            top: 230px; 
            
           
        }
        
        @include media('<tablet') {
            width: 107px;
            top: 25px; 
        }
        
        
    }
    
    .graph-img-inner{
        
        position: relative;
        width: 700px;
        height: 390px;
        margin: auto;
        left: 0;
        
        transition: left 2s ease-in;
        
        &.moved{
            left: -390px;
            transition: left 2s ease-in;
        }
        /*overflow: hidden;*/
        
        
        @include media('<hd-screen') {
            width: 620px;
            height: 350px;

        }
        
        @include media('<widescreen') {
            width: 470px;
            height: 260px;
        }
        
        @include media('<desktop') {
/*            width: 250px;
            height: 440px;
            margin: 0 0 0 calc(100% - 250px);
            display: inline-block;*/
            
/*            width: 275px;
            height: 150px;*/
            margin: 0 auto 5%;
            display: block;
        }
        
        @include media('<tablet') {
            width: 275px;
            height: 150px;
/*            margin: 0 auto 0;*/
            display: block;
        }
        
    }
    
    .graph-img-outer{
        
        position: relative;
        margin: 3% 0 5% 0;
        
        /*overflow: hidden;*/
        @include media('<hd-screen') {
            margin: 3% 0 7% 0;
           
        }
               
        @include media('<desktop') {
            margin: 2% auto 3%;
            width: 80%;

        }
        
        @include media('<tablet') {
            margin: 2% auto 3%;
            width: 100%;
        }
        
        
        
    }
    
    .graph-text-outer{
        padding: 0 5%;
        
        @include media('<tablet') {
            padding: 0;
        }
    }
    
    .graph-text{
        margin: 0;
        
        /*margin-top: 390px;*/
    }
    
        
    .graph-item-text-outer{
        display: block;
        position: absolute;
        width: calc( (100% - 700px)/2 - 55px);
        
        @include media('<hd-screen') {
            width: calc( (100% - 620px)/2 - 45px);

        }
        
        @include media('<widescreen') {
            width: calc( (100% - 370px)/2 - 40px);
        }
        
        @include media('<desktop') {
            width: calc( (100% - 250px) - 30px);
            
            &.visible .graph-item-text{
                height: auto;
            }
        }
        
            .graph-item-text{
                font-size: 0.7em;
                margin: 0;
                
                @include media('<widescreen') {
                    font-size: 0.6em;
                }
                
                @include media('<desktop') {
                    font-size: inherit;
                                        
                    height: 1px;
                   
                }
                
                @include media('<tablet') {
                    font-size: inherit;
                    
                }
                
            }
            
            &.gi-1{
                top: 50%;
                left: 0;
     
                transform: translateY(-50%);
                /*width: calc( (100% - 700px)/2 - 70px);*/
                
               
                @include media('<hd-screen') {
                    width: calc( (100% - 620px)/2 - 70px);

                }
                
                @include media('<widescreen') {
                    width: calc( (100% - 370px)/2 - 70px);
                }
                
                @include media('<desktop') {
/*                    right: 280px;
                    left: auto;
                    width: calc( (100% - 250px) - 30px);
                    
                    top: 25px;*/

                    right: auto;
                    left: auto;
                    width: 100%;
                    top: auto;
                    position: relative;
                    margin: 0;
                    transform: none;
                    
                }
                
                @include media('<tablet') {
                    right: auto;
                    left: auto;
                    width: 100%;
                    top: auto;
                    position: relative;
                    margin: 0;
                    transform: none;
                }
                
                
                .graph-item-text{
                    
                    padding-right: 15px;
                    
                    &:before{
                        content: "";
                        position: absolute;
                        right: -43px;
                        top: 50%;
                        width: 43px;
                        height: 2px;
                        background: url(images/help_img/line_3-min.png) no-repeat;
                        background-size: contain;
                       
                        @include media('<hd-screen') {
                            right: -53px;
                            width: 53px;
                        }
                        
                        @include media('<widescreen') {
                            right: -5px;
                            width: 14px;

                        }
                        
                       
                        @include media('<desktop') {
/*                            background: url(images/help_img/line_3-min.png) no-repeat;
                            background-size: contain;

                            top: 100%;
                            right: -43px;
                            width: 53px;*/

                            display: none;
                            background: none;
                        }

                        @include media('<tablet') {
                            background: none;
                        }
                    }
            
                }

            }
            
            &.gi-2{
                top: 0;
                right: -20px;
                
/*                top: -40%;
                right: -10%;
                opacity: 0.5;
                display: none;*/
                @include media('<hd-screen') {
                    right: auto;
                    left: 85%;
                }
                
                @include media('<widescreen') {
                    left: 77%;

                }
                
                @include media('<desktop') {
/*                    right: 280px;
                    top: 50%;
                    left: auto;
                    bottom: 0;*/
                    right: auto;
                    left: auto;
                    width: 100%;
                    top: auto;
                    position: relative;
                    margin: 0;
                    
                }
                
                @include media('<tablet') {
                    right: auto;
                    left: auto;
                    width: 100%;
                    top: auto;
                    position: relative;
                    margin: 0;
                }
                
                .graph-item-text{
                    
                    padding-left: 15px;
                    
                    @include media('<desktop') {
                        padding-left: 0px;
                        padding-right: 15px;
                    }  
                    
                    &:before{
                        content: "";
                        position: absolute;
                        top: 7px;
/*                        left: -112px;
                        width: 112px;
                        height: 36px;*/
                        left: -102px;
                        width: 102px;
                        height: 36px;
                        
                        background: url(images/help_img/line_2-min.png) no-repeat;
                        background-size: contain;
                       
                        @include media('<hd-screen') {
                            left: -60px;
                            width: 60px;
                        }
                        
                        @include media('<widescreen') {
                            left: -60px;
                            width: 60px;
                        }
                        
                        @include media('<desktop') {
/*                            background: url(images/help_img/line_3-min.png) no-repeat;
                            background-size: contain;
                            height: 2px;
                            top: 100%;
                            left: auto;
                            right: -33px;
                            width: 53px;*/
                            display: none;
                            background: none;
                            
                        }
                        
                        @include media('<tablet') {
                            background: none;
                        }
                    }
            
                }

            }
            
            &.gi-3{
                bottom: 0px;
                right: -20px;

                @include media('<hd-screen') {
                    right: auto;
                    left: 85%;
                }
                
                @include media('<widescreen') {
                    left: 77%;
                    bottom: -25%;
                }
                
                @include media('<desktop') {
/*                    right: 280px;
                    left: auto;
                    bottom: 0;*/
                    right: auto;
                    left: auto;
                    width: 100%;
                    top: auto;
                    position: relative;
                    margin: 0;

                }
                
                @include media('<tablet') {
                    right: auto;
                    left: auto;
                    width: 100%;
                    top: auto;
                    position: relative;
                    margin: 0;
                }
                
                .graph-item-text{
                    
                    padding-left: 15px;
                    
                    @include media('<desktop') {
                        padding-left: 0px;
                        padding-right: 15px;
                    }        
                    
                    &:before{
                        content: "";
                        position: absolute;
                        left: -53px;
                        bottom: 0;
                        width: 60px;
                        height: 24px;

                        background: url(images/help_img/line_1-min.png) no-repeat;
                        background-size: contain;

                       
                        @include media('<hd-screen') {
                            left: -38px;
                            width: 38px;
                            height: 18px;
                        }
                        
                        @include media('<widescreen') {
                            left: -30px;
                            width: 35px;
                            height: 15px;
                            bottom: 0;
                        }
                        
                        @include media('<desktop') {
/*                            background: url(images/help_img/line_3-min.png) no-repeat;
                            background-size: contain;
                            height: 2px;
                            left: auto;
                            right: -43px;
                            width: 53px;*/
                            display: none;
                            background: none;
                            
                        }
                        
                        @include media('<tablet') {
                            background: none;
                        }
                    }
            
                }

            }

    }
    
    
    
    
}
